# Supabase Database
SUPABASE_ANON_KEY=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_URL=""
SUPABASE_PUBLISHABLE_KEY=""
POSTGRES_DATABASE=""
POSTGRES_HOST=""
POSTGRES_PASSWORD=""
POSTGRES_PRISMA_URL=""
POSTGRES_URL=""
POSTGRES_URL_NON_POOLING=""
POSTGRES_USER=""
SUPABASE_JWT_SECRET=""
SUPABASE_PUBLISHABLE_KEY=""
SUPABASE_SECRET_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""

# Cloudinary
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Google Auth Login
AUTH_SECRET=""
AUTH_URL=""
NEXTAUTH_URL=""
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""